* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

h1 {
    color: white;
}

h2 {
    color: white;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.texto {
    text-align: center;
    color: white;
    font-size: 120%;
}

li {
    display: block;
}

form {
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
    border-style: groove;
    border-color: white;
    margin-left: 700px;
    margin-right: 700px;

}

p {
    color: white;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.lproductos{
    color: white;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav li {
    display: inline-block;
    width: 10%;
    padding: 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    border-style: groove;
    border-color: white
}

nav li:hover {
    background-color: #fff;
    color: #000;
}

.portada {
    display: block;
    margin: auto;
}

.redes {
    display: block;
    margin: auto;
}

.msj{
    display: block;
    padding-right: 250px;
    margin: 5px
}

.imagenes {
    display: flex;
    background-color: black;
    padding: 5px;
    /* imagenes: row;
    imagenes: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
}

.imagenes div{
    display: flex; 
    flex-direction: column;
    background-color:white;
    margin: auto;
    padding: 3px;
}

.categorias{
    color: #000;
}
